body {
   font-family: Arial, Helvetica, sans-serif;
   background: #dcdcdc;
}

body#verde {
    font-family: Arial, Helvetica, sans-serif;
    background: #c6e5b1;
    color: #85bb65;
 }

 body#amarela {
    font-family: Arial, Helvetica, sans-serif;
    background: #fdfd96;
    color: #daa520;
 }